.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 60px;
  background-color: #dad2c9;
  flex-wrap: wrap;
}

.hero-content {
  max-width: 600px;
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
  color: #7f353b;
  font-family: 'Poppins', sans-serif;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 30px;
  color: #080505;
}

.hero-button {
  display: inline-block;
  padding: 12px 30px;
  background-color: #b83b2f;
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s;
}

.hero-button:hover {
  background-color: #be2e1b;
}

.hero-image img {
  width: 800px;
  max-width: 90%;
  border-radius: 16px;
}
